# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
